.background-container {
    width: 80%;
    height: 35vh;
    position: relative;
    background-color: #033A06;
    /* background:url(https://www.publicdomainpictures.net/pictures/120000/velka/blue-square-texture-background.jpg) no-repeat  center;
    background-size: cover; */
    margin:auto;
    
    
}

#titulo-1 {
    text-align: right;
    font-size: 45px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:  #B3D4BE;

}

h1 {
    text-align: right;
    font-size: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #B3D4BE;
}

#Indice {
    color:#f8f9fa;



}

body{
    
    position: relative;
    background-color: #B3D4BE;
   
} 

#Resumen-profesional{
    background-color: #033A06;

}
#ti-resumen-profesional{
    color: #B3D4BE;
}
#es-resumen-profesional{
    color: #B3D4BE;
}


