body{
    background-color: #D3D0CB;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Crect stroke='%23D3D0CB' stroke-width='0.2' width='1' height='1' id='s'/%3E%3Cpattern id='a' width='3' height='3' patternUnits='userSpaceOnUse' patternTransform='scale(40.2) translate(-975.12 -731.34)'%3E%3Cuse fill='%23d1cec9' href='%23s' y='2'/%3E%3Cuse fill='%23d1cec9' href='%23s' x='1' y='2'/%3E%3Cuse fill='%23cfccc7' href='%23s' x='2' y='2'/%3E%3Cuse fill='%23cfccc7' href='%23s'/%3E%3Cuse fill='%23cdcac5' href='%23s' x='2'/%3E%3Cuse fill='%23cdcac5' href='%23s' x='1' y='1'/%3E%3C/pattern%3E%3Cpattern id='b' width='7' height='11' patternUnits='userSpaceOnUse' patternTransform='scale(40.2) translate(-975.12 -731.34)'%3E%3Cg fill='%23cac8c3'%3E%3Cuse href='%23s'/%3E%3Cuse href='%23s' y='5' /%3E%3Cuse href='%23s' x='1' y='10'/%3E%3Cuse href='%23s' x='2' y='1'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='8'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='5' y='2'/%3E%3Cuse href='%23s' x='5' y='6'/%3E%3Cuse href='%23s' x='6' y='9'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='h' width='5' height='13' patternUnits='userSpaceOnUse' patternTransform='scale(40.2) translate(-975.12 -731.34)'%3E%3Cg fill='%23cac8c3'%3E%3Cuse href='%23s' y='5'/%3E%3Cuse href='%23s' y='8'/%3E%3Cuse href='%23s' x='1' y='1'/%3E%3Cuse href='%23s' x='1' y='9'/%3E%3Cuse href='%23s' x='1' y='12'/%3E%3Cuse href='%23s' x='2'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='2'/%3E%3Cuse href='%23s' x='3' y='6'/%3E%3Cuse href='%23s' x='3' y='11'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='4' y='10'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='c' width='17' height='13' patternUnits='userSpaceOnUse' patternTransform='scale(40.2) translate(-975.12 -731.34)'%3E%3Cg fill='%23c8c5c1'%3E%3Cuse href='%23s' y='11'/%3E%3Cuse href='%23s' x='2' y='9'/%3E%3Cuse href='%23s' x='5' y='12'/%3E%3Cuse href='%23s' x='9' y='4'/%3E%3Cuse href='%23s' x='12' y='1'/%3E%3Cuse href='%23s' x='16' y='6'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='d' width='19' height='17' patternUnits='userSpaceOnUse' patternTransform='scale(40.2) translate(-975.12 -731.34)'%3E%3Cg fill='%23D3D0CB'%3E%3Cuse href='%23s' y='9'/%3E%3Cuse href='%23s' x='16' y='5'/%3E%3Cuse href='%23s' x='14' y='2'/%3E%3Cuse href='%23s' x='11' y='11'/%3E%3Cuse href='%23s' x='6' y='14'/%3E%3C/g%3E%3Cg fill='%23c6c3be'%3E%3Cuse href='%23s' x='3' y='13'/%3E%3Cuse href='%23s' x='9' y='7'/%3E%3Cuse href='%23s' x='13' y='10'/%3E%3Cuse href='%23s' x='15' y='4'/%3E%3Cuse href='%23s' x='18' y='1'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='e' width='47' height='53' patternUnits='userSpaceOnUse' patternTransform='scale(40.2) translate(-975.12 -731.34)'%3E%3Cg fill='%23393E41'%3E%3Cuse href='%23s' x='2' y='5'/%3E%3Cuse href='%23s' x='16' y='38'/%3E%3Cuse href='%23s' x='46' y='42'/%3E%3Cuse href='%23s' x='29' y='20'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='f' width='59' height='71' patternUnits='userSpaceOnUse' patternTransform='scale(40.2) translate(-975.12 -731.34)'%3E%3Cg fill='%23393E41'%3E%3Cuse href='%23s' x='33' y='13'/%3E%3Cuse href='%23s' x='27' y='54'/%3E%3Cuse href='%23s' x='55' y='55'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='g' width='139' height='97' patternUnits='userSpaceOnUse' patternTransform='scale(40.2) translate(-975.12 -731.34)'%3E%3Cg fill='%23393E41'%3E%3Cuse href='%23s' x='11' y='8'/%3E%3Cuse href='%23s' x='51' y='13'/%3E%3Cuse href='%23s' x='17' y='73'/%3E%3Cuse href='%23s' x='99' y='57'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23b)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23h)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23c)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23d)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23e)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23f)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23g)' width='100%25' height='100%25'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
font-size: 10px;
font-style: normal;

color: #365659;
text-align: center;
}


table{ 
    width: 95vw;
    height: 100px;
    font-size: 4em;
    margin: auto;
    padding: 10px;
    box-sizing: border-box;
    background: linear-gradient( #69746c , transparent);
    border-radius: 30px;
    border-bottom: #365659;
    border: 0 0 10px 0;
    box-shadow: 0px 0px 20px #252e2a;
    font-weight: 600;
    position: relative;
    text-shadow:0px 0px 20px #E4F1E5;
    white-space:pre-wrap;



}

table tr td {
    padding: 0;
    margin: auto;
    
}

able tr td:hover{
    text-shadow: 0px 0px 40px white;




}   
section{
    width: 70vw;
    height: 550px;
    box-sizing: border-box;
    background: linear-gradient( #69746c , transparent);
    margin: auto;
    padding: 10px;
    text-align: center;
    border-radius: 30px;
    color: #365659;
    font-size: 2em;
    border-spacing: 0cap;
    box-shadow: 0px 0px 20px #27312c;

}
img{
    width: 15vw;
    height: 180px;
    margin: auto;
    padding: 0%;
    filter: drop-shadow(0px 0px 20px white);
    border: none;

}
h1{
    padding: 0%;
    font-size: 2em;
    border: none;
    font-weight: 900;
    text-shadow:0px 0px 20px #E4F1E5;

    


}

h1:hover{
    text-shadow:0px 0px 20px #E4F1E5;



}
#Resumen { 
    font-size: 1em;
    padding: 15px;
    text-align: justify;
    font-weight: 500;

}

article{
    width: 70vw;
    height: 400px;
    box-sizing: border-box;
    background: linear-gradient( #69746c , transparent);
    margin: auto;
    padding: 10px;
    text-align: center;
    border-radius: 30px;
    color: #365659;
    font-size: 2em;
    border-spacing: 0cap;
    box-shadow: 0px 0px 20px #131614;

}

div {
    width: 80%;
    height: 90%;
    background-color: rgba(62, 85, 74, 0.301);
    margin: auto;
    border-radius: 15px;
    padding: 50px;
    box-shadow: 0px 0px 20px #232725;
    box-sizing: border-box;
    
}